@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Body - Barlow 400 */
  /* Headings, CTA, Navigation - Barlow Condensed 400, 700 */
  --font-sans: var(--font-barlow-sans);
  --font-condensed: var(--font-barlow-condensed); /* Font 18px */
  --text-base: 1.125rem;

  /* Primary */
  --color-red-400: hsl(0, 100%, 68%);

  /* Neutral */
  --color-blue-950: hsl(230, 29%, 20%);
  --color-blue-100: hsl(207, 33%, 95%);
}

* {
  /* @apply outline outline-red-300; */
}

body {
  background: var(--color-white);
  font-size: var(--text-base);
  font-weight: 400;
  font-family: var(--font-barlow), Arial, Helvetica, sans-serif;
}

.navLink {
  @apply relative uppercase font-condensed font-bold text-2xl px-2 py-1 block cursor-pointer;
  @apply text-blue-950 tracking-wide;
  @apply after:absolute after:bottom-1.25 after:left-1/2 after:-translate-x-1/2 after:rounded-full after:h-0.5;
  @apply after:w-0 hover:after:w-[calc(100%-1rem)] after:motion-safe:duration-150 ease-in-out after:bg-blue-950;
}

.navLink--faded {
  @apply text-gray-400 after:bg-gray-400;
}
